.overlay{
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background: var(--background);
  width: 100%;
  max-width: 400px;
  padding: 1.7rem 3.5rem;
  border: 3px solid var(--red);
  border-radius: 10px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  position: relative;

}

.container > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  color: var(--white);
}

.container > div img{
  height: 15rem;
  width: 13rem;
}

.container > div p{
  font-family: Shippori Mincho B1;
  font-size: 80%;
}
.container > div label{
  color: var(--gold);
}

.container button{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 0px;

}

@media(max-width: 360px){

  .container{
    padding-top: 20rem;
  
  }

  .container > div{
    grid-template-columns: 1fr;
  }

  .container button{
    position: fixed;
  
  }
}